<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Uniform test Suite">
   <test name = "Uniform test">
      <classes>
         
         <class name = "com.training.sanity.tests.UniformSimpleTests" />
         <class name = "com.training.sanity.tests.UniformMediumTests" />
         <class name = "com.training.sanity.tests.UniformComplexTests" />
      </classes>
   </test>
</suite>	